* {
  all: unset;
  font-size:15px;
  font-family: "0xProto Nerd Font Propo";
}

// Global Styles
.bar {
  color: #ffffff;
  margin: 10px 18px 10px 18px;
}

.center, .right, .left {
  all: unset;
}

.workspaces,
.tray,
.time,
.powerbutton {
  background-color: #121212;
  color: #ffffff;
  padding: 10px 18px 10px 18px;
  border-radius: 12px;
  background-color: #121212;
  margin-right: 10px;
  border: 2px solid #ffffff;
}

// WORKSPACES
.workspaces button {
  padding: 0px 5px 0px 5px;
}

.workspaces .unfocused {
  color: #2e3436;
}

// POWER BUTTON
.powerbutton {
	margin-right: 0;
}

// POWER MENU
.powermenu {
  all: unset;
  background-color: #121212;
  label {
    font-size: 100px;
  }
}

.powermenuitems button {
  padding: 50px 70px 50px 70px;
  margin: 0;
  border-radius: 15px;
  background-color: rgb(32, 33, 34);
  border: 2px solid #ffffff;
}

.powermenuclose {
  background-color: rgb(32, 33, 34);
  padding: 10px 25px 10px 25px;
  border-radius: 12px;
  label {
    font-size: 35px;
  }
  border: 2px solid #ffffff;
}